# F@n comunications Internship
#### 1. CTR prediction

In [3]:
#1.1 pre-processing
#import libraries
import pandas_td as td
import os

In [6]:
#get API from env
API_KEY = os.getenv('TD_API_KEY')

In [7]:
con = td.connect(apikey=API_KEY, endpoint='https://api.treasuredata.com/')
presto = con.query_engine(database='nend_log', type='presto')
hive = con.query_engine(database='nend_log', type='hive')

In [8]:
SQL = """
select
    count(1) as imp_cnt
from
    nend_log.impression_1m
where
    td_time_range(time,'2019-02-01', '2019-02-02','JST')
"""
imp_df = td.read_td(SQL, presto)

In [9]:
imp_df

     imp_cnt
0  663144006

In [11]:
"""Ex1. Try to calculate the total nend videos ad requests of yesterday (2019-01-31)
"""

'Ex1. Try to calculate the total nend videos ad requests of yesterday (2019-01-31)\n'

In [13]:
SQL_ex = """
select
    count(1) as videoad_cnt
from
    nend_log.video_adrequest
where
    td_time_range(time,'2019-01-31', '2019-02-01','JST')
"""
req_df = td.read_td(SQL_ex, presto)

In [14]:
req_df

   videoad_cnt
0    132875907

In [15]:
#1.2 import train data
"""Ex.2 Calculate the CTR of yesterday(2019-01-31)."""

'Ex.2 Calculate the CTR of yesterday(2019-01-31).'

In [18]:
SQL_get_VI = """
select 
    count(1) as video_imp
from 
    nend_log.video_event_start
WHERE
    TD_TIME_RANGE(time, '2019-01-31', '2019-02-01','JST')
    """
SQL_get_VC = """
select
    count(1) as clicks
from
    nend_log.video_click
WHERE
    TD_TIME_RANGE(time, '2019-01-31', '2019-02-01','JST')
"""

video_imp = td.read_td(SQL_get_VI, presto)
video_click = td.read_td(SQL_get_VC, presto)

CTR = video_click.iloc[0,0]/video_imp.iloc[0,0]

In [26]:
CTR

0.27427904862538716